{% load static %}
<section class="first-feature" style="background-color: #f5f6f7;">
    <div class="container">
        <div class="all-features">
            <div class="col-md-3 col-sm-6 small-padding">
                <div class="job-feature">
                    <div class="feature-icon"><i class="fa fa-desktop"></i></div>
                    <div class="feature-caption">
                        <h5>Web Developer</h5>

                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 small-padding">
                <div class="job-feature">
                    <div class="feature-icon"><i class="fa fa-mobile"></i></div>
                    <div class="feature-caption">
                        <h5>Mobile Developer</h5>

                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 small-padding">
                <div class="job-feature">
                    <div class="feature-icon"><i class="fa fa-lightbulb-o"></i></div>
                    <div class="feature-caption">
                        <h5>Creative Designer</h5>

                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 small-padding">
                <div class="job-feature">
                    <div class="feature-icon"><i class="fa fa-file-text"></i></div>
                    <div class="feature-caption">
                        <h5>Content Writer</h5>

                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 small-padding">
                <div class="job-feature">
                    <div class="feature-icon"><i class="fa fa-hdd-o"></i></div>
                    <div class="feature-caption">
                        <h5>Manager</h5>

                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 small-padding">
                <div class="job-feature">
                    <div class="feature-icon"><i class="fa fa-bullhorn"></i></div>
                    <div class="feature-caption">
                        <h5>Sales & Marketing</h5>

                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 small-padding">
                <div class="job-feature">
                    <div class="feature-icon"><i class="fa fa-credit-card"></i></div>
                    <div class="feature-caption">
                        <h5>Accountant</h5>

                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 small-padding">
                <div class="job-feature">
                    <div class="feature-icon"><i class="fa fa-user"></i></div>
                    <div class="feature-caption">
                        <h5>Management / HR</h5>

                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>