{% load static %}
<section>
    <div class="container">
        <div class="row">
            <div class="main-heading">
                <p>200 New Jobs</p>

                <h2>New &amp; Random <span>Jobs</span></h2>
            </div>
        </div>
        <div class="row extra-mrg">
            <div class="col-md-3 col-sm-6">
                <div class="grid-view brows-job-list">
                    <div class="brows-job-company-img"><img src="assets/img/com-1.jpg" class="img-responsive" alt=""></div>
                    <div class="brows-job-position">
                        <h3><a href="job-detail.html">Web Developer</a></h3>

                        <p><span>Google</span></p>
                    </div>
                    <div class="job-position"><span class="job-num">5 Position</span></div>
                    <div class="brows-job-type"><span class="part-time">Part Time</span></div>
                    <ul class="grid-view-caption">
                        <li>
                            <div class="brows-job-location">
                                <p><i class="fa fa-map-marker"></i>QBL Park, C40</p>
                            </div>
                        </li>
                        <li>
                            <p><span class="brows-job-sallery"><i class="fa fa-money"></i>$110 - 200</span></p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="grid-view brows-job-list">
                    <div class="brows-job-company-img"><img src="assets/img/com-2.jpg" class="img-responsive" alt=""></div>
                    <div class="brows-job-position">
                        <h3><a href="job-detail.html">Web Developer</a></h3>

                        <p><span>Google</span></p>
                    </div>
                    <div class="job-position"><span class="job-num">5 Position</span></div>
                    <div class="brows-job-type"><span class="freelanc">Freelancer</span></div>
                    <ul class="grid-view-caption">
                        <li>
                            <div class="brows-job-location">
                                <p><i class="fa fa-map-marker"></i>QBL Park, C40</p>
                            </div>
                        </li>
                        <li>
                            <p><span class="brows-job-sallery"><i class="fa fa-money"></i>$110 - 200</span></p>
                        </li>
                    </ul>
                    <span class="tg-themetag tg-featuretag">Premium</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="grid-view brows-job-list">
                    <div class="brows-job-company-img"><img src="assets/img/com-3.jpg" class="img-responsive" alt=""></div>
                    <div class="brows-job-position">
                        <h3><a href="job-detail.html">Web Developer</a></h3>

                        <p><span>Google</span></p>
                    </div>
                    <div class="job-position"><span class="job-num">5 Position</span></div>
                    <div class="brows-job-type"><span class="enternship">Enternship</span></div>
                    <ul class="grid-view-caption">
                        <li>
                            <div class="brows-job-location">
                                <p><i class="fa fa-map-marker"></i>QBL Park, C40</p>
                            </div>
                        </li>
                        <li>
                            <p><span class="brows-job-sallery"><i class="fa fa-money"></i>$110 - 200</span></p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="grid-view brows-job-list">
                    <div class="brows-job-company-img"><img src="assets/img/com-4.jpg" class="img-responsive" alt=""></div>
                    <div class="brows-job-position">
                        <h3><a href="job-detail.html">Web Developer</a></h3>

                        <p><span>Google</span></p>
                    </div>
                    <div class="job-position"><span class="job-num">5 Position</span></div>
                    <div class="brows-job-type"><span class="full-time">Full Time</span></div>
                    <ul class="grid-view-caption">
                        <li>
                            <div class="brows-job-location">
                                <p><i class="fa fa-map-marker"></i>QBL Park, C40</p>
                            </div>
                        </li>
                        <li>
                            <p><span class="brows-job-sallery"><i class="fa fa-money"></i>$110 - 200</span></p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="grid-view brows-job-list">
                    <div class="brows-job-company-img"><img src="assets/img/com-5.jpg" class="img-responsive" alt=""></div>
                    <div class="brows-job-position">
                        <h3><a href="job-detail.html">Web Developer</a></h3>

                        <p><span>Google</span></p>
                    </div>
                    <div class="job-position"><span class="job-num">5 Position</span></div>
                    <div class="brows-job-type"><span class="part-time">Part Time</span></div>
                    <ul class="grid-view-caption">
                        <li>
                            <div class="brows-job-location">
                                <p><i class="fa fa-map-marker"></i>QBL Park, C40</p>
                            </div>
                        </li>
                        <li>
                            <p><span class="brows-job-sallery"><i class="fa fa-money"></i>$110 - 200</span></p>
                        </li>
                    </ul>
                    <span class="tg-themetag tg-featuretag">Premium</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="grid-view brows-job-list">
                    <div class="brows-job-company-img"><img src="assets/img/com-6.jpg" class="img-responsive" alt=""></div>
                    <div class="brows-job-position">
                        <h3><a href="job-detail.html">Web Developer</a></h3>

                        <p><span>Google</span></p>
                    </div>
                    <div class="job-position"><span class="job-num">5 Position</span></div>
                    <div class="brows-job-type"><span class="full-time">Full Time</span></div>
                    <ul class="grid-view-caption">
                        <li>
                            <div class="brows-job-location">
                                <p><i class="fa fa-map-marker"></i>QBL Park, C40</p>
                            </div>
                        </li>
                        <li>
                            <p><span class="brows-job-sallery"><i class="fa fa-money"></i>$110 - 200</span></p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="grid-view brows-job-list">
                    <div class="brows-job-company-img"><img src="assets/img/com-7.jpg" class="img-responsive" alt=""></div>
                    <div class="brows-job-position">
                        <h3><a href="job-detail.html">Web Developer</a></h3>

                        <p><span>Google</span></p>
                    </div>
                    <div class="job-position"><span class="job-num">5 Position</span></div>
                    <div class="brows-job-type"><span class="freelanc">Freelancer</span></div>
                    <ul class="grid-view-caption">
                        <li>
                            <div class="brows-job-location">
                                <p><i class="fa fa-map-marker"></i>QBL Park, C40</p>
                            </div>
                        </li>
                        <li>
                            <p><span class="brows-job-sallery"><i class="fa fa-money"></i>$110 - 200</span></p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="grid-view brows-job-list">
                    <div class="brows-job-company-img"><img src="assets/img/com-1.jpg" class="img-responsive" alt=""></div>
                    <div class="brows-job-position">
                        <h3><a href="job-detail.html">Web Developer</a></h3>

                        <p><span>Google</span></p>
                    </div>
                    <div class="job-position"><span class="job-num">5 Position</span></div>
                    <div class="brows-job-type"><span class="enternship">Enternship</span></div>
                    <ul class="grid-view-caption">
                        <li>
                            <div class="brows-job-location">
                                <p><i class="fa fa-map-marker"></i>QBL Park, C40</p>
                            </div>
                        </li>
                        <li>
                            <p><span class="brows-job-sallery"><i class="fa fa-money"></i>$110 - 200</span></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>